nav-item menu-text nav-item menu-text html,body, form, fieldset, tr, td, img {
 font-family: Lato;
 font-style: normal;
 font-weight: normal;
 font-size: 16px;
 line-height: 24px;

}

.menu-text {
margin-right:4px;
}

body{
  font-family: Lato !important;
}



a:hover {
  color:#EE603B !important;
}


.returnpic{
  width:20px;
  margin-left: 8px;
  margin-bottom: 5px;
}

.card-custom {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 3px 5px rgba(25, 70, 93, 0.05);
  border-radius: 8px; 
}

h1,h2,h3,h4,h5,h6{
  font-family: Lato;
  font-style: normal;
}


body hr {
  margin-bottom: 40px;
  margin-top: 24px;
}


.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
    flex-direction: column;
}

.login-submit:hover{
  background: #FFFFFF !important;
  border: 1px solid #EE603B !important;
  box-sizing: border-box !important;
  border-radius: 100px !important;
  color:#EE603B !important;
}

.register-submit:hover{
  background: #FFFFFF;
  border: 1px solid #EE603B;
  box-sizing: border-box;
  border-radius: 100px;
  color:#EE603B;
}

/* nav bar */
/*.container-fluid{
  height: 48px;
  background: #FFFFFF;
   Small drop shadow 
  box-shadow: 0px 3px 5px rgba(25, 70, 93, 0.05);
  font-size:12px;
  }*/


  .communityrole {
    font-size:12px;
    background-color:rgba(153,60,159,0.1);
    text-align: center;
    font-weight:bold;
    color:#F5ECF6;
    font-style: normal;
    line-height: 16px;
    border-radius: 4px;
    line-height:24px;
    padding: 8, 4, 8, 4 ;
    font-weight:bold;
    color:#993C9F;
  }

  .communityrole a{
    font-size:12px;
    text-align: center;
    font-weight:bold;
    color:#993C9F;
    font-style: normal;
    text-transform:capitalize;
    line-height: 24px;
    padding: 8, 4, 8, 4 ;
  }

  .dropdown-filter{
   border: 1px solid #3E4C59;
    box-sizing: border-box !important;
    border-radius: 100px !important;
    font-family: Lato !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 14px !important;
    color: #3E4C59 !important;
  }
  .dropdown-filter:hover{
   /* border: 1px solid #993C9F !important; */
    box-sizing: border-box !important;
    border-radius: 100px !important;
    font-family: Lato !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 14px !important;
    color: #993C9F !important;
  }
  /*Menu Start*/
  .menu-text{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #3E4C59;
    /* The body copy */
    opacity: 0.8;
  }
  .active-custom a{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #EE603B !important;
    text-decoration: underline;
    border-bottom: 2px solid #EE603B;

  }
/* Call To Action Section
--------------------------------*/
#call-to-action {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/images/banner.png) fixed center center;
  background-size: cover;
  padding: 80px 0;
}

#call-to-action .cta-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#call-to-action .cta-text {
  color: #fff;
}

@media (min-width: 769px) {
  #call-to-action .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

#call-to-action .cta-btn {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#call-to-action .cta-btn:hover {
  background: #1b5e28;
  border: 2px solid #1b5e28;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 295px;
  background-color: rgb(230, 238, 243);
  background-size: cover;
  position: relative;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

#hero:before {
  content: "";
  background: rgb(230, 238, 243);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
}
#hero .hero-container1 {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#hero h1 {
  margin: 30px 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 24px;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: #FFFF00;
  color: #000;
  border: 2px solid #FFFF00;
}
.name-user{
  font-family: Lato;
  font-size: 24px;
  line-height: 24px;
  color: #333333;
}
.txt-pos{
  font-family: Lato;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
}
/*End Hero*/

/*Tab Start*/
.tab-text1{
  font-family: Lato;
  color: #3ECCCB !important;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-top: 10px;
  margin-bottom:0px;
  padding-bottom: 0px;
}
.tab-text1 .active{
  border-bottom: 2px solid #EE603B;
  color: #EE603B;
}

/*End Tab*/

/*Start Avatar*/
.md-avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}



.md-avatar.size-1 {
  width: 40px;
  height: 40px;
}
.md-avatar.size-2 {
  width: 70px;
  height: 70px;
}
.md-avatar.size-3 {
  width: 90px;
  height: 90px;
}
.md-avatar.size-4 {
  width: 110px;
  height: 110px;
}
/*End Avatar*/

/*Start Footer*/
#footer {
  background: #FFFFFF !important;
}
#footer h5{
  padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color:#333333;
}
#footer a {
  color: #333333;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
  padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
  font-size:25px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.social li:hover a i {
  font-size:30px;
  margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
  color:#333333;
}
#footer ul.social li a:hover{
  color:#333333;
}
#footer ul.quick-links li{
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.quick-links li:hover{
  padding: 3px 0;
  margin-left:5px;
  font-weight:700;
}
#footer ul.quick-links li a i{
  margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}
.footerst{
  position: absolute; 
  height: 288px;
}
@media (max-width:767px){
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}
.footer-title{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  line-height: 16px !important;
  font-size: 12px !important;
  text-transform: uppercase;
  color: #EE603B;
}
.footer-small-texts{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 14px;
  color: #3E4C59;
}
.footer-container{
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.social-color{
  color: #EE603B;
}
.copyright{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: 12px;
  font-size: 12px;
  color: #000000;
  padding-top: 12px;
}
/*End Footer*/

/*Start Legend*/
.text-on-card {
  height: auto;
  margin-left: 20px;
  padding: 3px 5px;
  position: absolute;
  margin-top: -35px;
  border: 1px solid #CCA62C;
  background: #F8EBC3;
  border-radius: 8px;
  height: 25px;
}
.toc-text{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #CCA62C;
}
.text-on-app {
  height: auto;
  margin-left: 20px;
  padding: 3px 5px;
  position: absolute;
  margin-top: -35px;
  border: 1px solid #337ab7;
  background: #DAF0EF;
  border-radius: 4px;
  height: 25px;
}
.toc-text-app{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #3ECCCB;
}
/*End Legend*/

/*BOX APP*/
.appbox1{
  background: #1F546F;
  /* Small drop shadow */
  box-shadow: 0px 3px 5px rgba(25, 70, 93, 0.05);
  border-radius: 10px 0px 0px 10px;
  height: 200px;
}
.appbox2{
  background: #FFFFFF;
  /* Small drop shadow */
  box-shadow: 0px 3px 5px rgba(25, 70, 93, 0.05);
  border-radius: 0px 10px 10px 0px;
  height: 200px;
}
/*End BOX APP*/

/*BreadCrump*/
.arr-right .breadcrumb-item+.breadcrumb-item::before {
  content: ">";
  color: #828282;
  font-size: 12px;

}
.breadca {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #000;
}
.bread-text{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #828282;
}
/*End BreadCrump*/
.activity-image{
  background: #3ECCCB;
  mix-blend-mode: darken;
  opacity: 0.5;
}
.euneed{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #243741;
}

/*Text Styles*/
.headtitle{
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #323F4B;
  margin-bottom: 24px;
}
.meet-company-text{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}
.meet-company-title{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #3E4C59;
}
.intro-steam{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #323F4B;
}
.intro-title{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  color: #FFFFFF;
  opacity: 0.6;
  margin-top: 0px;

}

.intro-title-landing{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-align: left;
  color: #FFFFFF;
  opacity: 0.6;
  letter-spacing: 0.03em;
}


.text-ask{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4F4F4F;
  margin-bottom: 80px;
}
.text-ask-link{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #3ECCCB;
}
.cc-title{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #323F4B;
}
.cc-text{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #3E4C59;
}
.apptext1{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 16px;
  color: #BDBDBD;
}
.apptext2{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  color: #323F4B;
}
.apptext3{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #3E4C59;
}
.desc-text{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #3E4C59;
}
.box-text12{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  color: #52606D;
}
.box-text121{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #52606D;
  list-style: none;
}
.facol{
  color: #A6CB45;
}
.box-text-link{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  color: #EE603B;
}
.list-custom-color{
  background-color: #F5F7FA;
}
.alink{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 12px;
  color: #828282;
}
.btn-custom{
  background: #F9FAFC;
  border: 1px solid #D6B7DB;
  box-sizing: border-box;
  border-radius: 0px 0px 0px 0px;
}
/*TextArea-Custom*/
.green-border-focus .form-control:focus {
  border: 1px solid #8bc34a;
  box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}
.header-link{ 
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #243741;
}
.directory-hero-text{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 54px;
  color: #FFFFFF;
}
.filter-text{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #3E4C59;
  text-decoration: none;
}
.pass-desc{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #7B8794;
}
.custom-card-title{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #323F4B;
}

.custom-card-title:hover{
 color: #323F4B;
}


.cutsom-card-body{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #323F4B;
  opacity: 0.6;
}
.card-badge1{
  border: 1px solid #993C9F;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #993C9F;
}
.card-badge2{
  background: #3ECCCB;
  border: 1px solid #3ECCCB;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}




.btm-txt{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #323F4B;

}
#downloadhover:hover{
  background-color:#993C9F;
  opacity: 0.8;
}

#downloadhover {

  max-height:368px; 
  min-height: 368px;
}


.download-card{
  max-height:368px; 
  min-height: 368px;
}

.downloadview{
  visibility: hidden;
}

.downloadhover h2{
  font-size: 24px; 
  font-weight: bold;
  color: #fff;
  line-height: 24px;
  text-align: center;  
  z-index: 9;
  padding-top:50%;
}


.program-title{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #323F4B;
}
.img-back{
  background: #399ACA;
  mix-blend-mode: multiply;
  opacity: 0.9;
  border-radius: 8px 8px 0px 0px;
}
.img-back-txt{
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 36px;
  letter-spacing: 1px;
  color: #FFFFFF;
  opacity: 0.8;
  text-align: left;
}
.img-back-txt1{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  text-align: left;
}
.card-back-des{
  background-color: #F0F2F5 !important;
  border: 1px solid #CED2D7;
  box-sizing: border-box;
  border-radius: 10px;
}
.colma{
  background-color: #F0F2F5 !important;
}
.card-back-txt{
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 31px;
  color: #323F4B;
}
.card-color-text{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 10px;
  color: #993C9F;
}
.error-404{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 160px;
  line-height: 100px;
  letter-spacing: 6.94355px;
  color: #3ECCCB;
}
.err-txt{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.933333px;
  color: #243741;
  text-transform: uppercase;
}
.err-txt1{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ABB1BF;
}
.err-link{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #243741;
  text-transform: uppercase;
  align-content: center;
}
.landing-title{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #102A43;
}
.landing-txt{
  font-family: Lato !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 22px !important;
  line-height: 36px !important;
  color: #102A43 !important;
}
.land-btn-txt{
  font-family: Lato !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 12px !important;
  line-height: 14px !important;
  letter-spacing: 0.03em !important;
  color: #FFFFFF !important;
  border-radius: 10px !important;
}
.land-btn{
  width: 184px !important;
  height: 48px !important;
  background: #EE603B !important;
  border: 1px solid #EE603B !important;
  box-sizing: border-box !important;
  /* Drop Shadow */
  box-shadow: 0px 5px 15px rgba(25, 70, 93, 0.05) !important;
  border-radius: 100px !important;
}
.land-btn11{
  width: 421px !important;
  height: 48px !important;
  background: #EE603B !important;
  border: 1px solid #EE603B !important;
  box-sizing: border-box !important;
  /* Drop Shadow */
  box-shadow: 0px 5px 15px rgba(25, 70, 93, 0.05) !important;
  border-radius: 100px !important;
}
.land-btn11:hover{
  background: #FFFFFF !important;
  border: 1px solid #EE603B !important;
  box-sizing: border-box !important;
  border-radius: 100px !important;
  color:#EE603B !important;
}
.land-num{
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  text-align: center;
  color: #102A43;
  opacity: 0.3;

}
.land-num-txt{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #525151;
}
.land-login{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #EE603B;
  border-radius: 10px;
  text-decoration: underline !important;
}
.land-title-page{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #102A43;
}
.land-h1{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #102A43;
}
.land-card{
  background: #FFFFFF !important;
  border: 1px solid rgba(153, 60, 159, 0.2) !important;
  box-sizing: border-box !important;
  border-radius: 8px !important;
  margin-left:24px !important;
  margin-right: 12px !important;
  height: 266px !important;
  width: 284px !important;
}
.land-card2{
  background: #FFFFFF !important;
  box-shadow: 0px 3px 5px rgba(25, 70, 93, 0.05) !important;
  border-radius: 10px !important;
  border: 0px solid rgba(0, 0, 0, 0.125) !important;
}


.landwidth{
  width: 282px !important;
  max-width: 282px !important;
  height: 96px !important;
  max-height: 96px !important;
}
.landheight{
  height: 96px !important;
  max-height: 96px !important;
}
.landing-h1{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.03em;
  color: #102A43;
}
.landmar{
  margin-top: 24px !important;
}
.landimg{
  margin-top: 40px;
  margin-left: 32px;
}
.act-txt{
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 18px;
  color: #323F4B;
}
.act-p{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #323F4B;
}
.act-flex{
  flex: 0 25% 25% !important;
}
.act-card-st{
  background: #FFFFFF;
  /* Drop shadow */
  box-shadow: 0px 4px 10px rgba(196, 196, 196, 0.52);
  border-radius: 8px;
  border: 0px solid rgba(0, 0, 0, 0.125) !important;
  width: 588px;
  height: 288px;
}
.signup-title-txt{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 45px;
  color: #243741;
}
.signup-small-txt{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #3E4C59;
}
.tick-text{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #3E4C59;
}
.back-link{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #7B8794;
}
.check-txt{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.choose-txt{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

/*Hide all except first fieldset*/
#onboardingform fieldset:not(:first-of-type) {
  display: none;
}

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 30.33%;
  float: left;
  position: relative;
  letter-spacing: 1px;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 24px;
  height: 24px;
  line-height: 26px;
  display: block;
  font-size: 12px;
  color: #993C9F /*#333 */;
  background: #e3d2e8;
  border-radius: 25px;
  margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 1px;
  background: #993C9F;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
  background: #993C9F;
  color: white;
}

.user_pathway-training {
color:#243741;
text-decoration: none;
}


/* Not relevant to this form */
.dme_link {
  margin-top: 30px;
  text-align: center;
}
.dme_link a {
  background: #993C9F;
  font-weight: bold;
  color: #ee0979;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 5px 25px;
  font-size: 12px;
}


/** error messages */
.error {
 color: #ff0000;
 font-size: 12px;
 margin-top: 5px;
 margin-bottom: 0;
}

.inputTxtError {
 border: 1px solid #ff0000;
 color: #0e0e0e;
}
.home-box-shadow{
  background: #FFFFFF !important;
  /* Shadow */
  box-shadow: 0px 3px 5px rgba(25, 70, 93, 0.05) !important;
  border-radius: 8px !important;
  border: 0 solid #EE603B !important;
}
.full-width-image {
  height: 782px;

}

.btn1-shadow{
  border: 1px solid #EE603B !important;
  box-sizing: border-box !important;
  /* Drop Shadow */
  box-shadow: 0px 5px 15px rgba(25, 70, 93, 0.05) !important;
  border-radius: 100px !important;
}

.btn1-shadow:hover{
  background-color:#EE603B !important;
  text-decoration-color: #FFFFFF !important;
}

.btn1-text{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height, or 117% */
  letter-spacing: 0.03em;
  color: #EE603B;
  border-radius: 10px;
}

.btn1-text:hover{
  color: #FFFFFF !important;
}


a, a:hover,a:visited, a:focus {
  text-decoration:none !important;
}

.menu-back{
max-height: 88px;
box-shadow: 0px 3px 5px rgba(25, 70, 93, 0.05);

}
.menu-color-shadow{
  border-bottom: 2px solid #EE603B;
  color: #EE603B;
  font-weight: bold;
  font-size:16px;"
}
.prof-name{
  font-size:24px;
  margin-bottom: 8px;
  text-align: left;
}

.prof-role{
  font-size:14px;
  font-weight: normal;
  color:#3E4C59;
  margin-bottom: 16px;
  text-align: left;
}
.prof-pic{
  margin-right:24px;
}
.prof-pic:hover{
  margin-right:24px;
  color:#3E4C59;
}
.badgef{
  background: #3ECCCB;
  border-radius: 4px;
}
.badges{
  background: #993C9F;
  opacity: 0.1;
  border-radius: 4px;
}
.vid-shadow{
  background: #FFFFFF !important;
  box-shadow: 0px 3px 5px rgba(25, 70, 93, 0.05) !important;
  border-radius: 8px !important;
  border: 0px solid rgba(0, 0, 0, 0.125) !important;
}
.vids{
  margin-left: 30px;
}
.meettxt{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.secborder{
  box-shadow: 0px 3px 5px rgba(25, 70, 93, 0.05);
  border-radius: 8px !important; 
  height: 144px;
  padding-top:15px;
  border: 0px solid rgba(0, 0, 0, 0.125) !important;
  padding-left: 24px;
}

.scard1{
  background: #FFFFFF;
  box-shadow: 0px 3px 5px rgba(25, 70, 93, 0.05);
  border-radius: 8px !important;
  border: 0px solid rgba(0, 0, 0, 0.125) !important;
}
.acttext{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #3E4C59;
  opacity: 0.5;
  text-align: left;
}


.act-head {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
  color: #3E4C59 !important;
  text-align: left;
  margin-bottom: 16px;
}


margin-left:24px;
  /*margin-bottom:32px;
  min-height:140px;*/
  padding-left: 24px;
}
.ccont{
  background-color: #F0F2F5 !important;
  opacity: 0.78;
  border: 1px solid #CACCCE;
  box-sizing: border-box;
  border-radius: 4px;
}
.lastcc{
  height:96px;
  margin-bottom:16px;
  padding-left:0px; 
  align-items:center;
  padding-top:8%;
}
.lastcc-txt{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #323F4B;
}
.navsty{
  box-shadow: 0px 3px 5px rgba(25, 70, 93, 0.05) !important;
  border-radius: 0px 0px 8px 8px !important;
  border: 0px solid rgba(0, 0, 0, 0.125) !important;
}
.clearfilter{
  font-family: Lato !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 16px !important;
  color: #3E4C59 !important;
}
.clearspan{
  margin-left:35%;
  font-weight:none;
  text-align: middle;
}
.cardsmalltxt{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */
  text-align: center;
  color: #3E4C59;
  opacity: 0.5;
  text-align: left;
}
.cardbigtxt{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */
  display: flex;
  align-items: flex-end;
  color: #3E4C59;
  text-align: left;
  margin-bottom: 16px; 
}
.breadback{
  background-color: #F0F2F5 !important;
}
.actt1{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 24px;
  /* identical to box height, or 63% */
  color: #243741;
  float: left;
  margin-bottom:24px;
}
.leveltx{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  color: #243741;
}
.feedtxt{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  /* or 200% */
  text-transform: uppercase;
  color: #3E4C59;
  margin-bottom: 8px;
  margin-top:0px;
}

.feedtxttt{
  font-family: Lato;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
font-weight: normal;
  /* or 200% */
  text-transform: none;
  color: #3E4C59;
}
.commcard{
  background: #FFFFFF !important;
  /* Small drop shadow */
  box-shadow: 0px 3px 5px rgba(25, 70, 93, 0.05) !important;
  border-radius: 10px !important;
  border: 0px !important;
}

.beginnertxt{
  font-family: Lato !important;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  text-align: center;
  text-transform: lowercase;
}



.button-selected {
  background-color: #DABFDF;
}


.activtitle{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #323F4B;
  padding-top: 0px;
}
.activpar{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  color: #3E4C59;
  /* The body copy */
  opacity: 0.8;
}
.actcardw{
  border-radius: 10px;
  padding:36px;
  margin-top:24px;
}
.aligntxtt{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */
  color: #243741;
}
.hrs{

  /*border: 1px solid #000000;*/
  /* transform: rotate(-0.12deg);*/
}
.aligncards{
  background-color: #fff; 
  min-height:80px;
  height: 80PX;
  padding:20px 30px 30px 30px;
  box-shadow: 0px 3px 5px rgba(25, 70, 94, 0.05) !important;
  border-radius: 10px !important;
  border: 0px solid rgba(0, 0, 0, 0.125) !important;
}


.knowledgecards{
  background-color: #fff; 
  min-height:138px;
  padding:32px 32px 40px 32px;
  box-shadow: 0px 3px 5px rgba(25, 70, 94, 0.05) !important;
  border-radius: 10px !important;
  border: 0px solid rgba(0, 0, 0, 0.125) !important;
}
.logicmodtxt{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  color: #243741;
}
.brs{
  /* Small drop shadow */
  box-shadow: 0px 3px 5px rgba(25, 70, 93, 0.05);
  border-radius: 8px;
}
.supportcard{
  background: #FFFFFF;
  box-shadow: 0px 3px 5px rgba(25, 70, 93, 0.05) !important;
  border-radius: 8px !important;
  border: 0px solid rgba(0, 0, 0, 0.125) !important;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  /* identical to box height, or 114% */
  letter-spacing: 0.05em;

  color: #243741;
}
.sppct{
border-radius: 8px !important;
font-weight: bold;
margin-right:8px; 
font-size:12px;
}


.feedcardb1{
  padding: 25px;
  padding: 25px;
  background-color:#ffffff;
}
.camar{
  margin-bottom: 100px;
}
.camaract{
  margin-bottom: 55px;
}
.camaractm{
  margin-bottom: 40px;
}
.traincard{
  background: #FFFFFF !important;
  /* Card drop shadow */
  box-shadow: 0px 3px 5px rgba(25, 70, 93, 0.05) !important;
  border-radius: 6px 6px 8px 8px !important;
  border: 0px solid rgba(0, 0, 0, 0.125) !important;
}
.ppfilter{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */
  color: #323F4B;
}
.pptitle{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */
  color: #323F4B;
}
.ppcard{
 margin-bottom:30px;
 box-shadow: 0px 3px 5px rgba(25, 70, 93, 0.05) !important;
 border-radius: 6px 6px 8px 8px !important;
 border: 0px solid rgba(0, 0, 0, 0.125) !important;
 width: 18.5rem;
}
.ppbig{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  /* or 100% */
  color: #323F4B;
}
.ppsmall{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */
  text-align: left;
  color: #808991;
}
.homepicmar{
  margin-bottom: 78px;
}
.txtpicmar{
  margin-bottom: 48px;
}
.txtcardpic{
  margin-left: 32px !important;
  margin-right: 32px !important;
  padding-top: 27px !important;
}
.outcomemarg{
 margin-top: 118px;
}
.findr{
  margin-top: 141px;
}
.downloadguide{
  background: #EE603B !important;
  border: 2px solid #EE603B !important;
  box-sizing: border-box !important;
  box-shadow: 0px 5px 15px rgba(25, 70, 93, 0.05) !important;
  border-radius: 100px !important;
  color:#FFFFFF !important;
  font-family: Lato !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 12px !important;
  line-height: 24px !important;
  min-width: 161px;
  text-transform: uppercase !important;
}

.downloadguide:hover {
  background: #FFFFFF !important;
  border: 2px solid #EE603B !important;
  box-sizing: border-box !important;
  box-shadow: 0px 5px 15px rgba(25, 70, 93, 0.05) !important;
  border-radius: 100px !important;
  font-family: Lato !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 12px !important;
  line-height: 24px !important;
  /* identical to box height, or 200% */
  color: #EE603B !important;
  min-width: 161px;
  text-transform: uppercase !important;
}


.downloadguide-activity{
  background: #EE603B !important;
  border: 2px solid #EE603B !important;
  box-sizing: border-box !important;
  box-shadow: 0px 5px 15px rgba(25, 70, 93, 0.05) !important;
  border-radius: 100px !important;
  color:#FFFFFF !important;
  font-family: Lato !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 12px !important;
  line-height: 24px !important;
  min-width: 161px;
  text-transform: uppercase !important;
}

.downloadguide-activity:hover {
  background: #F0F2F5 !important;
  border: 2px solid #EE603B !important;
  box-sizing: border-box !important;
  box-shadow: 0px 5px 15px rgba(25, 70, 93, 0.05) !important;
  border-radius: 100px !important;
  font-family: Lato !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 12px !important;
  line-height: 24px !important;
  /* identical to box height, or 200% */
  color: #EE603B !important;
  min-width: 161px;
  text-transform: uppercase !important;
}


.button-hover:hover {
background: #EE603B !important;
color: #FFFFFF !important;
}

.button-hover2:hover {
background: #FFFFFF !important;
color: #EE603B !important;
}

.hoverdiv:hover {
  color: #EE603B !important;
}



.login_button{
  background: #FFFFFF !important;
  border: 2px solid #EE603B !important;
  box-sizing: border-box !important;
  box-shadow: 0px 5px 15px rgba(25, 70, 93, 0.05) !important;
  border-radius: 100px !important;
  color:#EE603B !important;
  font-family: Lato !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 12px !important;
  line-height: 24px !important;
  min-width: 80px;
  text-transform: uppercase !important;
}
.login_button:hover {
  
   background: #EE603B !important;
  border: 2px solid #EE603B !important;
  box-sizing: border-box !important;
  box-shadow: 0px 5px 15px rgba(25, 70, 93, 0.05) !important;
  border-radius: 100px !important;
  font-family: Lato !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 12px !important;
  line-height: 24px !important;
  /* identical to box height, or 200% */
  color: #FFFFFF !important;
  min-width: 80px;
  text-transform: uppercase !important;
}



.carmarb{
  margin-bottom: 24px !important;
}
.sste{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 36px;
  /* identical to box height, or 257% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #323F4B;
}
.register-card{
  background: #FFFFFF !important;
  /* Small drop shadow */
  box-shadow: 0px 3px 5px rgba(25, 70, 93, 0.05) !important;
  border-radius: 8px !important;
  border: 0px !important;
}
.register-cardsec{
  background: #FFFFFF !important;
  /* Small drop shadow */
  box-shadow: 0px 3px 5px rgba(25, 70, 93, 0.05) !important;
  border-radius: 8px !important;
  border: 0px !important;
  width: 521px !important;
}